[submodule "Server"]
	path = Server
	url = https://github.com/noaether/AdvancementHelper-Server
[submodule "Client"]
	path = Client
	url = https://github.com/noaether/AdvancementHelper-Client
[submodule "Database"]
	path = Database
	url = https://github.com/noaether/AdvancementHelper-Database
